<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.1.xsd">
    <security:http auto-config="true">
        <security:intercept-url pattern="/" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/admin**" access="hasRole('ROLE_SYS_ADMIN')" />
        <security:intercept-url pattern="/addRisk" access="hasRole('ROLE_DEV') or hasRole('ROLE_MANAGER')"/>
        <security:intercept-url pattern="/getRisks" access="hasRole('ROLE_USER')"/>
        <security:intercept-url pattern="/getUserList" access="hasRole('ROLE_USER')"/>

        <security:form-login login-page="/login"
                             username-parameter="username"
                             password-parameter="password"
                             authentication-success-handler-ref="authSuccess"
                             authentication-failure-url="/Access_Denied" />
        <security:csrf disabled="true"/>
    </security:http>

    <!-- 认证成功后的处理类 -->
    <bean id="authSuccess" class="com.springapp.mvc.auth.AuthSuccessHandlerImpl"/>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="wanghao"  password="wang"  authorities="ROLE_USER,ROLE_DEV" />
                <security:user name="yuanrui"  password="yuan"  authorities="ROLE_USER,ROLE_MANAGER" />
                <security:user name="zhangguanwei"  password="zhang"  authorities="ROLE_USER,ROLE_SYS_ADMIN"/>
                <security:user name="hanqiqi"  password="han"  authorities="ROLE_USER,ROLE_SYS_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>
</beans>